<div class="team-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
               <p class="lead">I am a data scientist and statistician. I understand how to maintain data integrity while leveraging data for data-driven decision making. I engage different programming languages and analytical tools in order to capture and understand data via visualizations and summary statistics/metrics. I use best data wrangling and cleaning processes, am competent in steering meaningful descriptive, predictive, and prescriptive data solutions, and I enjoy using data to tell stories in order to motivate impactful decisions. <br>                
      </p>       
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card card-profile card-horizontal">
          <div class="row">
            <div class="col-xl-7">
              <div class="card-image no-mask">
                <a href="javascript:;">
                  <img class="img" src="{{ '/assets/img/theme/me.jpg' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="card-body mt-3">
                
                
                
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Patricia Marie Barrier</span>
                    <span class="description">Name</span>
                  </div>
                </div>
                <div class="card-profile-stats">
                   </div>
                   <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Senior Data Scientist, Charter Communications</span>
                    <span class="description">Current Job</span>
                  </div>
                     <div class="text-left p-0">
                    <span class="heading">Charlotte, NC</span>
                    <span class="description">Location</span>
                  </div>
                </div>
                  <div class="card-profile-stats">
                                 </div>
                
                
                
                                      </div>
                </div>
              </div>
             
            </div>
          
            <div class="col-md-8 mx-auto text-center mb-5">
            
  

