<div class="team-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        #<h3 class="display-3">About Me. </h3>
        <p class="lead">I teach at Appalachian State University and have over 15 years of experience teaching college mathematics and statistics courses. <br>My specialty is teaching statistics. <br> <br>Educational background: mathematical theory, applied mathematics, statistics, computer programming, data science, and business analytics. <br> <br>My personality type (ENTP) is that of an explorer and an inventor. I thrive when given an idea to run with and grow. <br>I enjoy asking outside-the-box "what if" questions.    </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card card-profile card-horizontal">
          <div class="row">
            <div class="col-xl-7">
              <div class="card-image no-mask">
                <a href="javascript:;">
                  <img class="img" src="{{ '/assets/img/theme/me.jpg' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="card-body mt-3">
                
                
                
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Patricia Marie Barrier</span>
                    <span class="description">Name</span>
                  </div>
                </div>
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Lecturer of Math & Statistics, ASU</span>
                    <span class="description">My Job</span>
                  </div>
                </div>
                   <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Data Science and Business Analytics - Masters, UNCC</span>
                    <span class="description">Currently Studying</span>
                  </div>
                </div>
                  <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="description" style="color:blue">“The person who says it cannot be done should not interrupt the person who is doing it.”-Chinese Proverb.</span>
                  </div>
                </div>
                
                
                
                                      </div>
                </div>
              </div>
             
            </div>
          
            <div class="col-md-8 mx-auto text-center mb-5">
               <p class="lead">For More Professional Details Click the LinkedIn Icon</p>
      </div>
            </div>
        </div>
      </div>
    </div>

