<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/ill/p2.svg' | relative_url }}')"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
          <h3 class="display-3">Welcome. </h3><br><class="lead mt-0">Look around & you'll find:<br>
          <UL>
<li>My Portfolio - DSBA coursework and projects <br>
<li>Resume<br>
<li>About me page<br>
 <li>Links to my ASU faculty webpage, YouTube channel, and LinkedIn page.
          </UL>
   <class="lead mt-0">Use the contact tab to request more information or to connect. 
     <h3 class="display-5"><font face="Lucida Calligraphy, Lucida Handwriting, WhisperWrite, Brush Script MT" align=right>-Patricia Marie Barrier</font></h5>
            </p>

            <div class="buttons">
            <a href="/blog-list-example" class="btn btn-primary">
              My Portfolio
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
 
