<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/ill/p2.svg' | relative_url }}')"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
          <h3 class="display-3">Patricia Marie Barrier</h3>
          <p class="lead mt-0">Welcome! The intention of this site is to put together a story about who I am by informally merging a few different things. I've created a portfolio to show my recent data science course projects (I won't include too much on these - no source data and only final results sort of stuff in order to uphold academic integrity in the case that a DS current student stumbles upon this page), my Resume and CV are on this site, and a brief about me page is here. There also links at the both of the pages leading to my professional Appstate page, to my youtube channel, and to LinkedIn for full professional details. Look around and please reach out via the Contact tab for more information about anything or just to connect! -Marie<br> </p>
          <div class="buttons">
            <a href="/blog" class="btn btn-primary">
              My Portfolio
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
 
