<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/ill/p2.svg' | relative_url }}')"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
          <h3 class="display-3"><font face="Lucida Calligraphy, Lucida Handwriting, WhisperWrite, Brush Script MT" size=4 color=blue><br><br>Patricia Marie Barrier</font></h3>
          <br><br><br>
          <h3 class="display-3">Welcome!</h3>
            <p class="lead mt-0"> <br> Here you'll find:
              <br>
<li>Portfolio - DSBA course projects <br>
<li>Resume and CV <br>
<li>About me page<br>
 <li>Links to my ASU faculty webpage, YouTube channel, and LinkedIn page.
 
  <br> 
<br>
   <class="lead mt-0">each out via the contact tab or more information or to connect. -Marie<br>
        </p>

            <div class="buttons">
            <a href="/blog" class="btn btn-primary">
              My Portfolio
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
 
